@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  /* Customize the scrollbar track */
  background-color: #fffcdf;
}

::-webkit-scrollbar-thumb {
  background-color: #dcfd00;
  border: 2px solid black;
  border-radius: 14px;
}

.input-shadow {
  box-shadow: inset 0px 4px 4px #bdbcbc;
}

.card-shadow {
  box-shadow: inset 5px 4px 5px #bdbcbc;
}

/* .dialog-shadow:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  box-shadow: inset 4px 4px 5px #818181;
  @apply border-4 border-black overflow-hidden rounded-xl;
} */

.button-shadow-sm {
  box-shadow: inset -4px -4px 0px rgb(0, 0, 0, 25%);
}

.button-shadow-md {
  box-shadow: inset -8px -8px 0px rgb(0, 0, 0, 25%);
}

.custom-progress {
  text-align: center;
  border-radius: 16px;
  overflow: hidden;
  border: 4px solid #000000;

  @apply w-[350px] md:min-w-[200px] md:w-[500px] h-[24px];
}
.custom-progress::-webkit-progress-value {
  background-color: #dcfd00;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  height: 40px;
  box-shadow: inset 4px -4px 0px rgb(0, 0, 0, 25%);
  transition: width 0.5;
}

.custom-progress::-webkit-progress-bar {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: inset -3px -4px 0px rgb(0, 0, 0, 25%);
  background-color: white;
}

.custom-progress[value]::-webkit-progress-value {
  transition: width 0.5s;
}

.animate-width {
  animation-duration: 0.5s;
  animation-name: animate-width;
  animation-timing-function: linear;
  overflow: hidden;
}

@keyframes animate-width {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    width: 100%;
  }
}
